<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_BASE" value="${app.base:-/temp}" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%mdc] %-5level %logger{36}.%M:%L - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_BASE}/logs/oneview.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${APP_BASE}/logs/oneview.cucumber.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%mdc] %-5level %logger{36}.%M:%L - %msg%n</Pattern>
            </layout>
        </encoder>
	</appender>

	<logger name="com.hi.techpoints.cucumber" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</logger>

	<!--<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</root>-->
</configuration>